p, li {    
    font-family: 'Merriweather', serif;
}

h1, h2, h3, button {
    font-family: 'Karla', sans-serif;
}

body {
    font-size: 16px;
    color: #222;

    background-color:#fbfbfb;
}

main {
    position: relative;


    width: 420px;
    min-height: 100%;

    box-shadow: 5px 0px 0px 0px rgba(0,0,0,0.15);

    background-color: #f9ea85;
}

ul {
    padding: 0;

    list-style: none;
}

.stretch {
    display: flex;   
}

/* Page Styling */
main > div[id^=page] {
    background-color: #fff;
}

.pageOptions {
    position: absolute;
    right: 13px;  
    
    margin-top: -12px;

    background-color: #eee;  
}

#pagePlus {
    position: fixed;
    bottom: 0;

    height: 2em;
}

.pageEllipsis {
    height: 1em;

    align-self: center;

    margin-left: auto;
}

/* List Styling */
.listTitleCont {

}

.listPlus {
    height: 1em;

    align-self: center;

    margin-left: auto;
}

/* Task Styling */
li[id^=task] {    
}

.taskTitle {
}

.taskEllipsis {
    height: 1em;

    align-self: center;

    margin-left: auto;
}

.taskTag {
}

.taskOptions {
    position: absolute;
    right: 13px;    

    background-color: #eee;  
}

@media only screen and (max-width: 420px) {
    main {
        width: 100%;
        min-width: 250px;
    }
}
